src/stereo_click
src/gazebo-pkgs
experiments/pr2_cad_new/good_data_files/
experiments/pr2_cad_new/data_files/
*.caffemodel
*.pkl
*.solverstate
*.pyc
*.o
*.cmake
*.gv
*.pdf
*.png
build/
src/gps_agent_pkg/CMakeFiles/
src/gps_agent_pkg/msg_gen/
src/gps_agent_pkg/srv_gen/
cuda/
*.swp
*.swo
src/gps_agent_pkg/catkin_generated/
src/gps_agent_pkg/devel/
src/gps_agent_pkg/gtest/
src/gps_agent_pkg/lib/
src/gps_agent_pkg/src/gps_agent_pkg/srv
src/gps_agent_pkg/MakeFile
src/gps_agent_pkg/CMakeCache.txt
experiments/pr2_example/log.txt

