<launch>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
	    <arg name="world_name" value="worlds/full_gear_world.world"/>
  </include>

  <!--include file="$(find pr2_gazebo)/launch/pr2_no_controllers.launch" /-->


	<include file="$(find gps_agent_pkg)/launch/pr2_moveit.launch" />

  <!-- start pr2 robot -->
  <include file="$(find pr2_gazebo)/launch/pr2_no_controllers.launch"/>
	<!-- Use the kinect camera /-->
	<!--include file="$(find gps_agent_pkg)/launch/kinect_publish.launch" /-->

	<!-- The camera screen node /-->
	<include file="$(find stereo_click)/launch/narrow_stereo_click.launch" />
	<!-- The AR tracking node /-->
	<include file="$(find ar_track_alvar)/launch/pr2_indiv_no_kinect.launch" />
</launch>
